<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        
      </div>
    </div>
    <div class="container">
      <p>
        <%= addError %>
      </p>
      <form action="/ta02/addUser" method="POST">
        <input type="text" name="username">
        <button type="submit">Add User</button>
      </form>
      <ul>
        <% for (let user of userList) { %>
          <li>
            <%= user.username %>
          </li>
        <% } %>
      </ul>
      <form action="/ta02/removeUser" method="POST">
        <input type="text" name="username">
        <button type="submit">Remove User</button>
      </form>
      <p>
        <%= removeError %>
      </p>
    </div>


</body>

</html>